.footer-header__link{
    font-weight: 400;
    font-size: 24px;
    color: getColor('dark');
    @include media(md){
        font-size: 30px;
    }
    @include media(xxl){
        font-size: 36px;
    }
}
.header-nav__span,.footer-container__span{
    color: getColor('secondary');
}


