@mixin media($breakpoint) {
	@if $breakpoint == 'sm' {
		@media screen and (min-width: getBreakPoint('sm')) {
			@content;
		}
	} @else if $breakpoint == 'sm-max' {
		@media screen and (max-width: calc(getBreakPoint('md') - 1px)) {
			@content;
		}
	} @else if $breakpoint == 'md' {
		@media screen and (min-width: getBreakPoint('md')) {
			@content;
		}
	} @else if $breakpoint == 'lg' {
		@media screen and (min-width: getBreakPoint('lg')) {
			@content;
		}
	} @else if $breakpoint == 'xl' {
		@media screen and (min-width: getBreakPoint('xl')) {
			@content;
		}
	} @else if $breakpoint == 'xxl' {
		@media screen and (min-width: getBreakPoint('xxl')) {
			@content;
		}
	}
}

@mixin flex($property: row, $center: false, $beetween: false) {
	display: flex;
	@if $property == row {
		flex-direction: row;
	} @else if $property == col {
		flex-direction: column;
	}
	@if $center == true {
		justify-content: center;
		align-items: center;
	}

	@if $beetween == true {
		justify-content: space-between;
	}
}

@mixin transition($property) {
	transition: $property 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

//! ----------- 01.Міксін outline -----------
//todo var.1
// @mixin outline($size: 1px, $type: solid, $color) {
//     outline: $size $type $color;
// }

//todo var.2
@mixin outline($size: 1px, $type: solid, $color: tomato) {
	outline: $size $type $color;
}

@mixin title($size: 18px, $weight: 600, $lh: 0) {
	font-size: $size;
	font-weight: $weight;
	line-height: $lh;
}

@mixin flexJCcenFDcolAIcenTAcen {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

@mixin flexJCcenJCsbAIcen {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
}
@mixin flexJCcenFDcolAIcen {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
@mixin flexJCcenFDAIcen {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin AIcenTAcen {
	align-items: center;
	text-align: center;
}

@mixin sectionTitle($size: 24px, $weight: 600, $lh: 3.33, $color: #000) {
	font-size: $size;
	font-weight: $weight;
	line-height: $lh;
	color: $color;
	@include media('md') {
		font-size: 30px;
		line-height: 2.67;
	}

	@include media('xl') {
		font-size: 36px;
		line-height: 2.22;
	}

	@include media('xxl') {
		font-size: 48px;
		line-height: 1.67;
	}
}

@mixin pricingButton($size: 14px, $weight: 400, $width: 170px, $height: 37px, $border: 5px,) {
	font-size: $size;
	font-weight: $weight;
	width: $width;
	height: $height;
	border-radius: $border;
	background-color: getColor('pricing-btn');
}

@mixin cardTitle($size: 18px, $weight: 600,) { 
	font-size: $size;
	font-weight: $weight;
	color: getColor('primary');
}