.footer {
    padding-bottom: 46px;
    padding-top: 26px;

    @include media("md"){
        padding-bottom: 26px;
        padding-top: 24px;
    }
    @include media("lg"){
        padding-bottom: 15px;
        padding-top: 18px;
    }
    @include media("xl"){
        padding-bottom: 24px;
        padding-top: 22px;
    }
    @include media("xxl"){
        padding-bottom: 64px;
        padding-top: 31px;
    }

    .container{
        @include flex(col, true);

        @include media("md"){
            @include flex(row, false, true);
        }
       &-list{
        display: flex;
        @include media("md"){
            margin-right: 25px;
        }
        @include media("xxl"){
            margin-right: 120px;
        }
        &__link{
            color: getColor('secondary')
        }
        &__item{
            font-weight: 500;
            font-size: 11px;
            position: relative;

            @include media("md"){
                font-size: 12px;
            }
            @include media("lg"){
                font-size: 13px;
                font-weight: 400;
            }
            @include media("xl"){
                font-size: 16px;
            }
            @include media("xxl"){
                font-size: 24px;
            }
        } 

        &__item:not(:last-of-type){
            margin-right: 14px;

            &::before{
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: getColor('secondary');
                position: absolute;
                left: 105%;
                top: 35%;

                @include media("xl"){
                    left: 104%;
                    top: 43%;
                }
                @include media("xxl"){
                    left: 102%;
                    top: 42%;
                    width: 5px;
                    height: 5px;
                }
            }
        }
       }
       .logo{
        margin-bottom: 15px;
        @include media("md"){
            margin-bottom: 0px;
            margin-left: 30px;
        }
        @include media("xxl"){
            margin-left: 131px;
        }
       }
    }
}