.header {
	padding-top: 36px;
	padding-bottom: 29px;
	@media screen and (min-width: getBreakPoint("md")){
	 padding-top: 39px;
	 padding-bottom: 11px;
	}
	@media screen and (min-width: getBreakPoint("lg")){
	 padding-top: 39px;
	 padding-bottom: 68px;
	}
	@media screen and (min-width: getBreakPoint("xl")){
	 padding-top: 30px;
	 padding-bottom: 88px;
	}
	@media screen and (min-width: getBreakPoint("xxl")){
	 padding-top: 57px;
	 padding-bottom: 125px;
	}
	&-nav{
	@include flex(row, true);
	 @media screen and (min-width: getBreakPoint("md")){
		 margin-right: 48px;
		 margin-left: 32px;
	 }
	 @media screen and (min-width: getBreakPoint("lg")){
		 margin-left: 39px;
		 margin-right: 38px;
	 }
	 @media screen and (min-width: getBreakPoint("xl")){
		 margin-left: 31px;
		 margin-right: 31px;
	 }
	 @media screen and (min-width: getBreakPoint("xxl")){
		 margin-left: 20px;
		 margin-right: 20px;
	 }
	 &-list{
		 display: none;
		 @media screen and (min-width: getBreakPoint("xl")){
			 display: flex;
			 margin-left: 167px;
		 }
		 &__item:not(:last-of-type){
			 margin-right: 30px;
		 }
		 &__link{
			 font-weight: 500;
			 font-size: 16px;
			 color: getColor('primary');
			 @media screen and (min-width: getBreakPoint("xxl")){
				 font-size: 20px;
			 }
		 }
		 @media screen and (min-width: getBreakPoint("xxl")){
			 margin-left: 253px;
		 }
	 }
	//  .logo{
		// 
		// 
	//  }
	 }
	 &__label{
		display: flex;
		justify-content: end;
		margin-right: 15px;
		 @media screen and (min-width: getBreakPoint("md")){
			 margin-left: 360px;
		 }
		 @media screen and (min-width: getBreakPoint("lg")){
			 margin-left: 570px;
		 }
		 @media screen and (min-width: getBreakPoint("xl")){
			 display: none;
		 }
	 }
	 &__input{
		display: none;
	}
	 
	 &__button{
		display: none;
		transition: background-color 0.5s ease;
		@media screen and (min-width: getBreakPoint("xl")){
		 display: block;
		 border: 2px solid getColor('primary');
		 border-radius: 5px;
		 background-color: transparent;
		 padding: 8px 40px;
		 margin-left: 100px;
		 font-family: getFont('poppins');
		 font-weight: 400;
		 font-size: 18px;  
		}
		@media screen and (min-width: getBreakPoint("xxl")){
			font-size: 24px;
			padding: 8px 50px;
			margin-left: 240px;
		}
	}
	&__button:hover{
		background-color:getColor('primary');
		color:getColor('pricing-btn')
	}
}