.hero {
    background-color: #fff;
    padding-bottom: 50px;

    @media screen and (min-width: getBreakPoint('md')) {
        padding-bottom: 100px;
    }

    @media screen and (min-width: getBreakPoint('lg')) {
        height: 413px;
    }

    @media screen and (min-width: getBreakPoint('xl')) {
        padding-bottom: 0px;
        height: 507px;
    }

    @media screen and (min-width: getBreakPoint('xxl')) {
        height: 764px;
    }

    .container {
        @media screen and (min-width: getBreakPoint('lg')) {
            height: 413px;
            position: relative;
        }

        @media screen and (min-width: getBreakPoint('xl')) {
            height: 507px;
        }

        @media screen and (min-width: getBreakPoint('xxl')) {
            height: 764px;
        }
    }

    .container::before {
        width: 299px;
        height: 299px;
        content: '';
        display: block;
        margin: 0 auto;
        margin-bottom: 16px;
        background-image: url(../images/hero-sm.svg);

        @media screen and (min-width: getBreakPoint('md')) {
            width: 424px;
            height: 424px;
            background-image: url(../images/hero-md.svg);
        }

        @media screen and (min-width: getBreakPoint('lg')) {
            width: 350px;
            height: 350px;
            position: absolute;
            top: 0px;
            right: 16px;
            background-image: url(../images/hero-lg.svg);
        }

        @include media('xl') {
            width: 460px;
            height: 460px;
            right: 21px;
            background-image: url(../images/hero-xl.svg);
        }

        @media screen and (min-width: getBreakPoint('xxl')) {
            width: 660px;
            height: 660px;
            background-image: url(../images/hero.svg);
        }
    }

    .hero__title {
        width: 220px;
        height: 72px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        color: #000;
        margin: 0 auto;
        margin-bottom: 20px;

        @media screen and (min-width: getBreakPoint('md')) {
            width: 491px;
            height: 45px;
            font-size: 34px;
            line-height: 1.32;
            margin-bottom: 25px;
        }

        @media screen and (min-width: getBreakPoint('lg')) {
            width: 217px;
            height: 135px;
            font-size: 36px;
            line-height: 1.25;
            text-align: left;
            position: absolute;
            top: 28px;
            left: 40px;
        }

        @media screen and (min-width: getBreakPoint('xl')) {
            width: 290px;
            height: 192px;
            font-size: 48px;
            line-height: 1.33;
            top: 13px;
            left: 29px;
        }

        @media screen and (min-width: getBreakPoint('xxl')) {
            width: 386px;
            height: 240px;
            top: 50px;
            left: 130px;
            font-size: 64px;
            line-height: 1.25;
        }
    }

    .hero__title::after {
        content: '';
        rotate: 38%;
        background-size: cover;
        background-image: url(../images/hero-lamp.svg);
        display: none;

        @media screen and (min-width: getBreakPoint('lg')) {
            width: 51px;
            height: 51px;
            display: block;
            position: absolute;
            top: 66px;
            left: 227px;
        }

        @media screen and (min-width: getBreakPoint('xl')) {
            width: 60px;
            height: 60px;
            top: 103px;
            left: 302px;
        }

        @media screen and (min-width: getBreakPoint('xxl')) {
            width: 85px;
            height: 85px;
            top: 142px;
            left: 442px;
        }
    }

    .universal-br {

        @media screen and (max-width: calc(getBreakPoint('lg') - 1px)) {
            display: none;
        }
    }

    .sm-br {
        @media screen and (min-width: getBreakPoint('md')) {
            display: none;
        }
    }

    .hero__text {
        width: 295px;
        height: 63px;
        font-size: 14px;
        text-align: center;
        color: getColor(secondary);
        margin: 0 auto;
        margin-bottom: 35px;

        @media screen and (min-width: getBreakPoint('md')) {
            width: 491px;
            font-size: 16px;
            margin-bottom: 20px;
        }

        @media screen and (min-width: getBreakPoint('lg')) {
            width: 335px;
            height: 72px;
            text-align: left;
            position: absolute;
            top: 188px;
            left: 39px;
        }

        @media screen and (min-width: getBreakPoint('xl')) {
            width: 420px;
            height: 90px;
            font-size: 20px;
            top: 233px;
            left: 33px;
        }

        @media screen and (min-width: getBreakPoint('xxl')) {
            width: 552px;
            height: 108px;
            top: 330px;
            left: 127px;
            font-size: 24px;
        }
    }

    .hero__button {
        width: 289px;
        height: 60px;
        display: block;
        color: getColor(light);
        background: #263238;
        border-radius: 5px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        margin: 0 auto;

        @media screen and (min-width: getBreakPoint('md')) {
            width: 305px;
            height: 75px;
            font-size: 18px;

        }

        @media screen and (min-width: getBreakPoint('lg')) {
            position: absolute;
            top: 288px;
            left: 39px;
        }

        @media screen and (min-width: getBreakPoint('xl')) {
            border-radius: 5px;
            width: 292px;
            height: 80px;
            top: 356px;
            left: 29px;
        }

        @media screen and (min-width: getBreakPoint('xxl')) {
            width: 438px;
            height: 118px;
            top: 499px;
            left: 129px;
            border-radius: 15px;
            font-size: 36px;
        }
    }
    .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 5;

        .backdrop .is-hidden .modal {
          opacity: 0;
          transform: translate(-50%, -50%) scale(1.5);
        }
        .modal {
            border-radius: 4px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80vw;
            max-width: 450px;
            height: 500px;
            padding: 20px;
            background-color: white;
            transform: translate(-50%, -50%);
            transition-property: transform, opacity;
            transition-duration: 500ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }


  


.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.btn{
    background-color: white;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
}
.title-modal{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 8px;
}


.input-text{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 408px;
    height: 40px;
    padding-left: 40px;

    &:focus:valid {
        outline: 1px solid rgb(0, 255, 0);
      }
  
      &:focus:invalid {
        outline: 1px red solid;
      }
}


.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-form{
    position: relative;

    @media screen and (min-width: getBreakPoint('sm')) {
        max-width: 230px;
    }
    @media screen and (min-width: getBreakPoint('md')) {
        max-width: 408px;
    }
}

input{
    @media screen and (min-width: getBreakPoint('sm')) {
        max-width: 100%;
    }
}

.div-form:not(:last-child){
    margin-bottom: 10px;
}
.man,
.phone1,
.mail {
  position: absolute;
  fill: getColor(dark);
}

.man {
  top: 38px;
  left: 15px;
}

.phone1 {
  top: 37px;
  left: 15px;
}

.mail {
    top: 37px;
    left: 15px;
  }
  
  .mail {
      top: 37px;
      left: 14px;
  }
  .label{
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.01em;
      margin-bottom: 4px;
      color: #757575;
  }
  .checkbox-gender-list{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 40px !important;
      width: 407px;
  }
  .checkbox-gender{
      visibility: hidden;
      width: 202px;
      height: 40px;
  }
  .checkbox-gender:hover{
      cursor: pointer;
  }
  .checkbox-gender:checked{
      background-color: #7c8285;
  }

  .div-checkbox {
    width: 351px;
    height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-top: -15px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
  }

  .checkbox-lb {
    font-weight: 400;
    font-size: 10px;
    line-height: 240%;
    letter-spacing: 0.03em;
    text-wrap: nowrap;
  }

  .link-check {
    color: #2196F3;
  }

  .link-check:hover {
    cursor: pointer;
  }

  .button-hero {
    width: 200px;
    height: 50px;
    display: block;
    color: #fff;
    background-color: #263238;
    border-radius: 15px;
    margin: 0 auto;
  }

}

.gender-list{
    display: flex;
}

.gender-option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 201px;
  height: 40px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;

  @media screen and (min-width: getBreakPoint('sm')) {
    max-width: 100px;
  }
  @media screen and (min-width: getBreakPoint('md')) {
    max-width: 201px;
  }
}
.gender-option.selected {
  background-color: #333;
  color: white;
  border-color: #333;
}
.gender-option input[type="radio"] {
  display: none;
}
.sm-modal{
    @media screen and (min-width: getBreakPoint('md')) {
      display: none;
    }
}
