.pricing {


    background-color: rgb(247, 224, 13);
    padding-bottom: 72px;

    @include media('md') {
        padding-bottom: 163px;
    }

    @include media('lg') {
        padding-bottom: 65px;
    }

    @include media('xl') {
        padding-bottom: 136px;
    }

    @include media('xxl') {
        padding-bottom: 257px;
    }

    &__titel {
        // font-weight: 600;
        color: getColor('dark');
        @include AIcenTAcen;
        @include sectionTitle;
        // margin-bottom: 49px;


        @include media('md') {
            // margin-bottom: 54px;
        }

        @include media('lg') {
            // margin-bottom: 0px;
        }

        @include media('xl') {
            // margin-bottom: 22px;
        }

        @include media('xxl') {
            // margin-bottom: 83px;
        }
    }


    &-list {
        @include flex(col, false, false);
        display: flex;
        flex-direction: column;
        // gap: 70px;

        @include media('md') {}

        @include media('lg') {
            @include flex(row, true, true);
            gap: 0px;
        }

        @include media('xl') {}

        @include media('xxl') {}

        &__item {

            @include flexJCcenFDcolAIcenTAcen;

            @include media('lg'){
                display: flex;
                align-items: start;
            }
             
            // @include media('xxl'){
            //     display: flex;
            //     // margin-left: 0px;
            //     align-items: start;
            // }

            &--first{

                @include media('sm'){
                    margin-top: 49px;
                    margin-bottom: 63px;
                }

                @include media('md'){
                    margin-top: 54px;
                    margin-bottom: 71px;
                }

                @include media('lg'){
                    margin-top: 31px;
                    margin-bottom: 0px;
                }

                @include media('xl'){
                    margin-top: 22px;
                }

                @include media('xxl'){
                    margin-top: 57px;
                }
            }

            &--second{
                
                @include media('sm'){
                    // margin-top: 63px;
                    margin-bottom: 72px;
                }

                @include media('md'){
                    // margin-top: 71px;
                    margin-bottom: 71px;
                }

                @include media('lg'){
                    margin-top: 61px;
                    margin-bottom: 0px;
                }

                @include media('xl'){
                    margin-top: 47px;
                }

                @include media('xxl'){
                    margin-top: 83px;
                }
            }

            &--third{
                
                @include media('sm'){
                    // margin-top: 72px;
                }

                @include media('md'){
                    // margin-top: 71px;
                }

                @include media('lg'){
                    margin-top: 31px;
                }

                @include media('xl'){
                    margin-top: 10px;
                }

                @include media('xxl'){
                    margin-top: 57px;
                }
            }

            &--first::before {
                content: '';
                display: flex;
                background-image: url(../images/pricing-first-sm.svg);
                background-size: 248px 248px;
                width: 248px;
                height: 248px;

                @include media('sm') {
                    // margin-top: 49px;
                }

                @include media('md') {
                    background-size: 291px 291px;
                    width: 291px;
                    height: 291px;
                    // margin-top: 54px;
                }

                @include media('lg') {
                    background-size: 197px 197px;
                    width: 197px;
                    height: 197px;
                    // margin-top: 31px;
                }

                @include media('xl') {
                    background-size: 222px 222px;
                    width: 222px;
                    height: 222px;
                    // margin-top: 22px;
                }

                @include media('xxl') {
                    background-size: 311px 311px;
                    width: 311px;
                    height: 311px;
                }
            }

            &--second::before {
                content: '';
                display: flex;
                background-image: url(../images/pricing-second-sm.svg);
                background-size: 257px 197px;
                width: 257px;
                height: 197px;

                @include media('sm') {
                    // margin-top: 63px;
                }

                @include media('md') {
                    background-size: 314px 241px;
                    width: 314px;
                    height: 241px;
                    // margin-top: 71px;
                }

                @include media('lg') {
                    background-size: 219px 168px;
                    width: 219px;
                    height: 168px;
                    // margin-top: 61px;
                }

                @include media('xl') {
                    background-size: 267px 195px;
                    width: 267px;
                    height: 195px;
                    // margin-top: 47px;
                }

                @include media('xxl') {
                    background-size: 391px 283px;
                    width: 391px;
                    height: 283px;
                }
            }

            &--third::before {
                content: '';
                display: flex;
                background-image: url(../images/pricing-third-sm.svg);
                background-size: 241px 241px;
                width: 241px;
                height: 241px;

                @include media('sm') {
                    // margin-top: 72px;
                }

                @include media('md') {
                    background-size: 253px 253px;
                    width: 253px;
                    height: 253px;
                    // margin-top: 71px;
                }

                @include media('lg') {
                    background-size: 210px 210px;
                    width: 210px;
                    height: 210px;
                    // margin-top: 31px;
                }

                @include media('xl') {
                    background-size: 242px 242px;
                    width: 242px;
                    height: 242px;
                    // margin-top: 10px;
                }

                @include media('xxl') {
                    background-size: 340px 340px;
                    width: 340px;
                    height: 340px;
                }
            }
        }

        &__titel {
            line-height: 1.56%;
            align-items: center;
            @include cardTitle;

            &--first {
                @include media('sm') {
                    height: 28px;
                    margin-top: 28px;
                    margin-bottom: 17px;
                }

                @include media('md') {
                    font-size: 24px;
                    line-height: 1.17;
                    margin-top: 29px;
                    margin-bottom: 23px;
                }

                @include media('lg') {
                    width: 177px;
                    font-size: 20px;
                    height: 56px;
                    line-height: 1.40;
                    text-align: left;
                    margin-top: 23px;
                    margin-bottom: 15px;
                }

                @include media('xl') {
                    font-size: 22px;
                    line-height: 1.55;
                    width: 277px;
                    height: 34px;
                    margin-top: 20px;
                    margin-bottom: 14px;
                }

                @include media('xxl') {
                    font-size: 30px;
                    line-height: 1.60;
                    width: 377px;
                    height: 48px;
                    margin-top: 40px;
                    margin-bottom: 19px;
                }
            }

            &--second {
                @include media('sm') {
                    margin-top: 12px;
                    margin-bottom: 25px;
                }

                @include media('md') {
                    font-size: 24px;
                    line-height: 1.17;
                    margin-top: 21px;
                    margin-bottom: 19px;
                }

                @include media('lg') {
                    width: 112px;
                    height: 56px;
                    font-size: 20px;
                    line-height: 1.40;
                    text-align: left;
                    margin-top: 23px;
                    margin-bottom: 14px;

                }

                @include media('xl') {
                    font-size: 22px;
                    line-height: 2.18;
                    width: 209px;
                    height: 48px;
                    margin-top: 15px;
                    margin-bottom: 9px;
                }

                @include media('xxl') {
                    font-size: 30px;
                    line-height: 1.60;
                    width: 285px;
                    height: 48px;
                    margin-top: 42px;
                    margin-bottom: 23px;
                }
            }

            &--third {

                @include media('sm') {
                    margin-top: 7px;
                    margin-bottom: 30px;
                }

                @include media('md') {
                    font-size: 24px;
                    line-height: 1.17;
                    margin-top: 15px;
                    margin-bottom: 21px;
                }

                @include media('lg') {
                    font-size: 20px;
                    width: 94px;
                    height: 56px;
                    line-height: 1.40;
                    text-align: left;
                    margin-top: 15px;
                    margin-bottom: 9px;

                }

                @include media('xl') {
                    font-size: 22px;
                    width: 183px;
                    height: 48px;
                    line-height: 2.18;
                    margin-top: 5px;
                    margin-bottom: 1px;
                }

                @include media('xxl') {
                    font-size: 30px;
                    line-height: 1.60;
                    width: 249px;
                    height: 48px;
                    margin-top: 11px;
                    margin-bottom: 20px;
                }
            }
        }

        &__text {
            // font-weight: 400;
            font-size: 13px;
            width: 278px;
            text-align: center;
            color: getColor('secondary');

            @include media('md') {
                font-size: 14px;
            }

            @include media('lg') {
                text-align: left;
            }

            @include media('xl') {}

            @include media('xxl') {}

            &--first {

                @include media('sm') {
                    margin-bottom: 33px;
                }

                @include media('md') {
                    font-size: 14px;
                    width: 392px;
                    margin-bottom: 31px;
                    // min-width: 350px;
                    // max-width: 400px;
                }

                @include media('lg') {
                    width: 194px;
                    height: 84px;
                    margin-bottom: 23px;
                }

                @include media('xl') {
                    font-size: 16px;
                    width: 293px;
                    height: 72px;
                    margin-bottom: 31px;
                }

                @include media('xxl') {
                    font-size: 20px;
                    width: 420px;
                    height: 90px;
                    margin-bottom: 29px;
                }
            }

            &--second {

                @include media('sm') {
                    margin-bottom: 31px;
                }

                @include media('md') {
                    font-size: 14px;
                    width: 332px;
                    margin-bottom: 31px;
                }

                @include media('lg') {
                    width: 211px;
                    height: 63px;

                    margin-bottom: 44px;
                }

                @include media('xl') {
                    font-size: 16px;
                    width: 254px;
                    height: 48px;
                    margin-bottom: 52px;
                }

                @include media('xxl') {
                    font-size: 20px;
                    width: 367px;
                    height: 60px;
                    margin-bottom: 59px;
                }
            }

            &--third {

                @include media('sm') {
                    margin-bottom: 38px;
                }

                @include media('md') {
                    font-size: 14px;
                    width: 362px;
                    margin-bottom: 31px;
                }

                @include media('lg') {
                    width: 223px;
                    height: 63px;
                    margin-bottom: 49px;
                }

                @include media('xl') {
                    font-size: 16px;
                    width: 255px;
                    height: 72px;
                    margin-bottom: 34px;
                }

                @include media('xxl') {
                    font-size: 20px;
                    width: 425px;
                    height: 60px;
                    margin-bottom: 59px;
                }
            }
        }

        &__btn {
            font-family: getFont(poppins);
            @include pricingButton;
            @include flexJCcenJCsbAIcen;
            padding-left: 12px;
            padding-right: 15px;
            color: getColor(gray);

            @include media('md') {
                font-size: 16px;
                width: 205px;
                height: 45px;
            }

            @include media('lg') {}

            @include media('xl') {}

            @include media('xxl') {
                font-size: 18px;
                width: 240px;
                margin-left: 0px;
            }
        }


        &__span {
            font-weight: 400;
            // width: 90px;
            height: 27px;
            font-size: 18px;
            color: getColor('primary');

            @include media('md') {
                display: block;
                font-size: 22px;
                height: 36px;
                width: 90px;
            }

            @include media('lg') {}

            @include media('xl') {
                font-size: 24px;
            }

            @include media('xxl') {
                font-size: 30px;
                height: 45px;
            }
        }
    }

}