.skills {
	padding-bottom: 50px;

	@include media('md') {
		padding-bottom: 84px;
	}

	@include media('lg') {
		padding-bottom: 52px;
	}

	@include media('xl') {
		padding-bottom: 106px;
	}

	@include media('xxl') {
		padding-bottom: 252px;
	}

	> div {
		padding: 0 15px 0 15px;

		@include media('md') {
			padding: 0 32px 0 32px;
		}

		@include media('lg') {
			padding: 0 30px 0 30px;
		}

		@include media('xl') {
			padding: 0 26px 0 26px;
		}

		@include media('xxl') {
			padding: 0 131px 0 131px;
		}
	}

	&__title {
		@include sectionTitle();
		text-align: center;

		@include media('md') {
			margin-bottom: 34px;
		}

		@include media('lg') {
			margin-bottom: 36px;
		}

		@include media('xl') {
			margin-bottom: 53px;
		}

		@include media('xxl') {
			margin-bottom: 96px;
		}
	}

	&-list {
		display: grid;
		// grid-template-columns: 1fr; //! -
		// grid-template-rows: repeat(4, 0fr); //! -
		// grid-column-gap: 21px; //! -
		// grid-row-gap: 21px; //! -
		row-gap: 21px; //* +

		@include media('md') {
			grid-template-columns: repeat(2, 1fr);
			// grid-template-rows: repeat(2, 1fr); //! -
			// grid-column-gap: 30px; //! -
			column-gap: 30px; //* +
			// grid-row-gap: 30px; //! -
			row-gap: 34px; //* +
		}

		@include media('lg') {
			// display: grid; //! -
			grid-template-columns: repeat(3, 1fr);
			// grid-template-rows: repeat(2, 0fr); //! -
			grid-template-rows: repeat(2, auto); //* +
			// grid-column-gap: 10px; //! -
			// grid-row-gap: 10px; //! -
			gap: 10px;
		}

		@include media('xl') {
			// display: grid; //! -
			// grid-template-columns: repeat(3, 1fr); //! -
			// grid-template-rows: repeat(2, 0fr); //! -
			// grid-column-gap: 13px; //! -
			// grid-row-gap: 13px; //! -
			gap: 10px;
		}

		@include media('xxl') {
			// display: grid; //! -
			// grid-template-columns: repeat(3, 1fr); //! -
			// grid-template-rows: repeat(2, 0fr); //! -
			// grid-column-gap: 20px; //! -
			// grid-row-gap: 20px; //! -
			// gap: 20px; //* +
			//* вірні значення з макету:
			column-gap: 18px; //* +
			row-gap: 20px; //* +
		}

		&__item {
			background-color: getColor(light);
			padding-bottom: 38px;
			border-radius: 5px;
			@include flex(col, true, false);
			overflow: hidden;

			@include media('md') {
				padding-bottom: 36px;
				height: 534px;
			}

			@include media('lg') {
				height: auto;
				justify-content: start;
			}

			&--first {
				&::before {
					content: '';
					display: block;
					background-image: url(../images/skills-first-sm.svg);
					background-size: 213px 213px;
					width: 100%;
					height: 270px;
					background-repeat: no-repeat;
					background-position: center center;

					@include media('md') {
						background-size: 185px 185px;
						height: 191px;
					}

					@include media('lg') {
						background-size: 214px 214px;
						height: 214px;
					}

					@include media('xl') {
						background-size: 260px 260px;
						height: 260px;
					}

					@include media('xxl') {
						background-size: 390px 390px;
						height: 390px;
					}
				}

				height: 600px;

				@include media('md') {
					height: 534px;
				}

				@include media('lg') {
					//* grid-area: row-start / column-start / row-end / column-end;
					grid-area: 1 / 1 / 3 / 2;

					padding: 0;
					height: 662px;
				}

				@include media('xl') {
					height: 696px;
				}

				@include media('xxl') {
					height: 894px;
				}
			}

			&--second {
				&::before {
					content: '';
					display: block;
					background-image: url(../images/skills-second-sm.svg);
					background-size: 204px 204px;
					width: 100%;
					height: 270px;
					background-repeat: no-repeat;
					background-position: center center;

					@include media('md') {
						background-size: 182px 182px;
						height: 191px;
						flex-shrink: 0;
					}

					@include media('lg') {
						background-size: 200px 200px;
						height: 200px;
					}

					@include media('xl') {
						background-size: 205px 205px;
						height: 205px;
					}

					@include media('xxl') {
						background-size: 293px 293px;
						height: 293px;
					}
				}

				height: 473px;

				@include media('md') {
					height: 534px;
				}

				@include media('lg') {
					//* grid-area: row-start / column-start / row-end / column-end;
					grid-area: 1 / 2 / 2 / 3;
					height: 441px;
					padding: 0;
				}

				@include media('xxl') {
					height: 531px;
				}
			}

			&--third {
				&::before {
					content: '';
					display: block;
					background-image: url(../images/skills-third-sm.svg);
					background-size: 236px 157px;
					width: 100%;
					height: 270px;
					background-repeat: no-repeat;
					background-position: center center;

					@include media('md') {
						background-size: 198px 132px;
						height: 191px;
					}

					@include media('lg') {
						background-size: 216px 144px;
						height: 200px;
					}

					@include media('xl') {
						background-size: 243px 162px;
						height: 205px;
					}

					@include media('xxl') {
						background-size: 371px 247px;
						height: 293px;
					}
				}

				height: 473px;

				@include media('md') {
					height: 534px;
				}

				@include media('lg') {
					//* grid-area: row-start / column-start / row-end / column-end;
					grid-area: 1 / 3 / 2 / 4;
					padding: 0;
					height: 441px;
				}

				@include media('xl') {
					height: 441px;
				}

				@include media('xxl') {
					height: 531px;
				}
			}

			&--fourth {
				&::before {
					content: '';
					display: block;
					background-image: url(../images/skills-fourth-sm.svg);
					background-size: 232px 154px;
					width: 100%;
					height: 270px;
					background-repeat: no-repeat;
					background-position: center center;
					flex-shrink: 0;

					@include media('md') {
						background-size: 206px 137px;
						height: 191px;
					}

					@include media('lg') {
						display: none;
					}
				}

				@include media('lg') {
					&::after {
						content: '';
						display: block;
						background-image: url(../images/skills-fourth-lg.svg);
						background-size: 202px 134px;
						width: 202px;
						height: 134px;

						@include media('xl') {
							background-size: 254px 169px;
							width: 254px;
							height: 169px;
						}

						@include media('xxl') {
							background-size: 382px 255px;
							width: 382px;
							height: 255px;
						}
					}
				}

				height: 473px;

				@include media('md') {
					height: 534px;
				}

				@include media('lg') {
					//* grid-area: row-start / column-start / row-end / column-end;
					grid-area: 2 / 2 / 3 / 4;
					padding: 0 0 26px 22px;
					flex-direction: row;
					height: 210px;
				}

				@include media('xl') {
					height: 241px;
				}

				@include media('xxl') {
					height: 343px;
					justify-content: space-between;
					padding: 0 25px 26px 22px;
				}
			}

			&-title {
				color: getColor('primary');
				font-size: 18px;
				font-weight: 600;
				margin-top: 20px;
				margin-bottom: 20px;

				@include media('lg') {
					font-size: 20px;
					margin-top: 10px;
					margin-bottom: 10px;
				}

				@include media('xl') {
					margin-bottom: 10px;
				}

				@include media('xxl') {
					font-size: 30px;
				}
			}

			&-text {
				max-width: 258px;
				display: block;
				font-size: 13px;
				line-height: 18px;
				color: getColor('secondary');

				@include media('md') {
					margin-bottom: 102px;
					max-width: 200px;
				}

				@include media('lg') {
					margin-bottom: 13px;
					max-width: 180px;
				}

				@include media('xxl') {
					font-size: 16px;
					line-height: 24px;
				}

				&--first {
					font-size: 13px;
					line-height: 19.5px;

					@include media('md') {
						margin-bottom: 15px;
						font-size: 12px;
						line-height: 18px;
					}

					@include media('lg') {
						font-size: 13px;
						line-height: 19.5px;
						max-width: 200px;
					}

					@include media('xl') {
						max-width: 262px;
						margin-bottom: 30px;
						font-size: 14px;
						line-height: 21px;
					}

					@include media('xxl') {
						font-size: 16px;
						line-height: 24px;
						max-width: 347px;
					}
				}

				&--second {
					font-size: 12px;
					line-height: 18px;

					@include media('lg') {
						max-width: 200px;
						font-size: 13px;
						line-height: 19.5px;
					}

					@include media('xl') {
						max-width: 250px;
						font-size: 14px;
						line-height: 21px;
					}

					@include media('xxl') {
						max-width: 360px;
						font-size: 16px;
						line-height: 24px;
					}
				}

				&--third {
					font-size: 13px;
					line-height: 19.5px;

					> .sm-visible {
						display: inline;

						@include media('md') {
							display: none;
						}
					}

					> .sm-hidden {
						display: none;

						@include media('md') {
							display: inline;
						}
					}

					@include media('lg') {
						max-width: 200px;
					}

					@include media('xl') {
						max-width: 250px;
						font-size: 14px;
						line-height: 21px;
					}

					@include media('xxl') {
						max-width: 360px;
						font-size: 16px;
						line-height: 24px;
					}
				}

				&--fourth {
					font-size: 13px;
					line-height: 19.5px;

					@include media('md') {
						margin-bottom: 119px;
						max-width: 200px;
					}

					@include media('lg') {
						margin-bottom: 13px;
						max-width: 260px;
					}

					@include media('xl') {
						font-size: 14px;
						line-height: 21px;
					}

					@include media('xxl') {
						max-width: 335px;
						font-size: 16px;
						line-height: 24px;
					}
				}
			}

			&-btn {
				background-color: getColor('primary');
				margin-top: 20px;
				color: #ffffff;
				padding: 14px 42px;
				font-size: 14px;
				font-weight: 500;
				line-height: 21px;
				border-radius: 5px;
				width: 178px;
				height: 50px;
				@include transition(background-color);

				&:hover,
				&:focus {
					background-color: getColor('hover');
				}

				@include media('md') {
					margin-top: 0;
					width: 200px;
				}

				@include media('lg') {
					width: 178px;
					height: 50px;
					padding: 14px 43px;
					line-height: 24px;
					font-size: 16px;
					font-weight: 500;
				}

				@include media('xl') {
					width: 196px;
					height: 57px;
					font-size: 18px;
					line-height: 27px;
				}

				@include media('xxl') {
					width: 218px;
					height: 60px;
					font-size: 20px;
					line-height: 30px;
					margin-top: 0px;
				}
			}
		}
	}
}
