<footer class="footer">
    <div class="container">
        <nav class="footer-nav">
            <h1 class="footer-nav__title">Brit<span class="footer-nav__span">lex</span></h1>
            <ul class="footer-nav-list">
                <li class="footer-nav-list__item">
                    <a href="./" class="footer-nav-list__link">Terms and Conditions</a>
                </li>
                <li class="footer-nav-list__item">
                    <a href="./" class="footer-nav-list__link">Privacy Policy</a>
                </li>
                <li class="footer-nav-list__item">
                    <a href="./" class="footer-nav-list__link">Cookie Policy</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>