<section class="about" id="about-us">
	<div class="container about-div">
		<h2 class="about-title">About Us</h2>
		<p class="about-text">
			The model offers a framework for discussing <br>
			problems related to the user's experience, as <br>
			well as possible ways and means of solving <br>
			them. Application development begins at <br>
			the top level (strategy), where the future <br>
			software product is described quite <br>
			abstractly from the point of view of the <br>
			expectations of both users and the customer. <br>
		</p>
		<ul class="about-list">
			<li class="about-list__item">
				<h3 class="about-number">800</h3>
				<p class="about-description">Pupils</p>
			</li>
			<li class="about-list__item">
				<h3 class="about-number">18</h3>
				<p class="about-description">Teachers</p>
			</li>
			<li class="about-list__item">
				<h3 class="about-number">6</h3>
				<p class="about-description">Foreign languages</p>
			</li>
		</ul>
	</div>
</section>