<section class="about" id="about-us">
	<div class="container">
		<h2 class="about__title">About Us</h2>
		<p class="about__text">
			The model offers a framework for discussing <br class="sm-br"> <br class="lg-br">
			problems related <br class="xl-br"> <br class="xxl-br">
			to the <br class="md-br"> 
			user's experience, as <br class="sm-br"> <br class="lg-br">
			well as possible ways and means <br class="xl-br"> 
			of <br class="xxl-br"> 
			solving <br class="sm-br"> <br class="lg-br">
			them. <br class="md-br"> 
			Application development begins at <br class="sm-br">
			the <br class="lg-br"> 
			top level <br class="xl-br">  <br class="xxl-br"> 
			(strategy), where the <br class="md-br">
			future <br class="sm-br">
			software <br class="lg-br">
			product is described quite <br class="sm-br"> <br class="xl-br">  <br class="xxl-br"> 
			abstractly from <br class="lg-br"> 
			the point of <br class="md-br"> 
			view of the <br class="sm-br">
			expectations of both <br class="lg-br">  <br class="xxl-br"> 
			users <br class="xl-br"> 
			and the customer.  <br class="sm-br">
		</p>
		<ul class="about-list">
			<li class="about-list__item">
				<h3 class="about-list__number">800</h3>
				<p class="about-list__description">Pupils</p>
			</li>
			<li class="about-list__item">
				<h3 class="about-list__number">18</h3>
				<p class="about-list__description">Teachers</p>
			</li>
			<li class="about-list__item">
				<h3 class="about-list__number">6</h3>
				<p class="about-list__description">Foreign languages</p>
			</li>
		</ul>
	</div>
</section>