<section class="contacts" id="contacts">
	<div class="container container__flex--contacts">
		<h2 class="contacts__title">Contact Us</h2>
		<picture>
			<source media="(min-width: 1330px)" srcset="./images/contact-us.svg" />
			<source media="(min-width: 992px)" srcset="./images/contact-us-xl.svg" />
			<source media="(min-width: 767px)" srcset="./images/contact-us-lg.svg" />
			<source media="(min-width: 575px)" srcset="./images/contact-us-md.svg" />
			<source media="(min-width: 320px)" srcset="./images/contact-us-sm.svg" />
			<img src="./images/contact-us-sm.svg" alt="image" />
		</picture>
		<div class="contacts__form--container">
			<h2 class="contact-us__title">Contact Us</h2>
			<p class="contacts__text">
				Discover your current English level by taking our free online English
				test. Sign up to our newsletter for learning tips and free resource
			</p>
			<form class="contacts__form">
				<input
					class="contacts__input"
					type="email"
					placeholder="Enter Your E-mail"
				/>
				<button class="contacts__btn" type="submit">Subscribe</button>
			</form>
		</div>
	</div>
</section>
