<footer class="footer">
    <div class="container">
        <load ="/partials/logo.html"/>
            <ul class="container-list">
                <li class="container-list__item">
                    <a href="./" class="container-list__link">Terms and Conditions</a>
                </li>
                <li class="container-list__item">
                    <a href="./" class="container-list__link">Privacy Policy</a>
                </li>
                <li class="container-list__item">
                    <a href="./" class="container-list__link">Cookie Policy</a>
                </li>
            </ul>
    </div>
</footer>