<header class="header">
	<div class="container">
		<input type="checkbox" id="toogle" class="header__input" />
                <label for="toogle" class="header__label">
					<svg class="open-sm">
						<use href="./images/sprite.svg#icon-open-burger-menu-sm"></use>
					</svg>
					<svg class="open-md">
						<use href="./images/sprite.svg#icon-open-burger-menu-md"></use>
					</svg>
					<svg class="open-lg">
						<use href="./images/sprite.svg#icon-open-burger-menu-lg"></use>
					</svg>	
					<svg class="icon-close close-sm">
						<use href="./images/sprite.svg#icon-close-sm"></use>
					</svg>
					<svg class="icon-close close-md">
						<use href="./images/sprite.svg#icon-close-md"></use>
					</svg>
					<svg class="icon-close close-lg">
						<use href="./images/sprite.svg#icon-close-lg"></use>
					</svg>
                </label>
		<nav class="header-nav">
			<load ="/partials/logo.html"/>
			<ul class="header-nav-list">
				<li class="header-nav-list__item">
					<a href="./index.html" class="header-nav-list__link">Home</a>
				</li>
				<li class="header-nav-list__item">
					<a href="#skills" class="header-nav-list__link">Skills</a>
				</li>
				<li class="header-nav-list__item">
					<a href="#about-us" class="header-nav-list__link">About Us</a>
				</li>
				<li class="header-nav-list__item">
					<a href="#pricing" class="header-nav-list__link">Pricing</a>
				</li>
				<li class="header-nav-list__item">
					<a href="#contacts" class="header-nav-list__link">Contacts</a>
				</li>
			</ul>
		</nav>
		<load ="/partials/newNav.html"/>
		<button class="header__button" type="button">Let’s Talk</button>
		<button class="header__button-newNav" type="button">Let’s Talk</button>
	</div>
</header>
