<section class="hero">
	<div class="container">
		<picture>
			<source srcset="./svg/hero.svg" media="(min-width: 1330px)" />
			<source srcset="./svg/hero-xl.svg" media="(min-width: 992px)" />
			<source srcset="./svg/hero-lg.svg" media="(min-width: 767px)" />
			<source srcset="./svg/hero-md.svg" media="(min-width: 575px)" />
			<source srcset="./svg/hero-sm.svg" media="(min-width: 320px)" />
			<img class="hero__image" src="./svg/hero-sm.svg" alt="girl" />
		</picture>
		<h2 class="hero-title">Learn Any Foreign Language</h2>
		<p class="hero__text">
			With our teachers who write a program for each student, you will be able
			to make your first sketch after the first lesson.
		</p>
		<button class="hero__button">Get started</button>
	</div>
</section>
