<nav class="nav">
	<load ="/partials/logo.html"/>
	<ul class="nav-list">
		<li class="nav-list__item">
			<a href="./index.html" class="nav-list__link">Home</a>
		</li>
		<li class="nav-list__item">
			<a href="#skills" class="nav-list__link">Skills</a>
		</li>
		<li class="nav-list__item">
			<a href="#about-us" class="nav-list__link">About Us</a>
		</li>
		<li class="nav-list__item">
			<a href="#pricing" class="nav-list__link">Pricing</a>
		</li>
		<li class="nav-list__item">
			<a href="#contacts" class="nav-list__link">Contacts</a>
		</li>
	</ul>
</nav>