<section class="pricing">
	<div class="container">

		<h3 class="pricing__titel">Pricing</h3>

		<ul class="pricing-list">

			<li class="pricing-list__item">

				<picture>

					<source
						media="(min-width: 1330px)"
						srcset="./svg/pricing-first.svg"
					/>
					<source
						media="(min-width: 992px)"
						srcset="./svg/pricing-first-xl.svg"
					/>
					<source
						media="(min-width: 767px)"
						srcset="./svg/pricing-first-lg.svg"
					/>
					<source
						media="(min-width: 575px)"
						srcset="./svg/pricing-first-md.svg"
					/>
					<source
						media="(min-width: 320px)"
						srcset="./svg/pricing-first-sm.svg"
					/>
					<img src="./svg/pricing-first-sm.svg" alt="image" />
				</picture>

				<h3 class="pricing-list__item--titel">Self-study online course</h3>

				<p class="pricing-list__item--text">Start learning English online in live classes
					with qualified EC teachers and students 
					from all over the world.</p>

				<button class="pricing-list__item--btn"><span class="pricing-list__item--btn--span">£5.99</span> per month</button>

			</li>

			<li class="pricing-list__item">

				<picture>
					<source
						media="(min-width: 1330px)"
						srcset="./svg/pricing-second.svg"
					/>
					<source
						media="(min-width: 992px)"
						srcset="./svg/pricing-second-xl.svg"
					/>
					<source
						media="(min-width: 767px)"
						srcset="./svg/pricing-second-lg.svg"
					/>
					<source
						media="(min-width: 575px)"
						srcset="./svg/pricing-second-md.svg"
					/>
					<source
						media="(min-width: 320px)"
						srcset="./svg/pricing-second-sm.svg"
					/>
					<img src="./svg/pricing-second-sm.svg"  alt="image" />
				</picture>

				<h3 class="pricing-list__item--titel">Live online classes</h3>

				<p class="pricing-list__item--text">Interactive group classes with expert 
					teachers. Free 7-day trial</p>

				<button class="pricing-list__item--btn"><span class="pricing-list__item--btn--span">£12.99</span> per month</button>

			</li>

			<li class="pricing-list__item">
				<picture>
					<source
						media="(min-width: 1330px)"
						srcset="./svg/pricing-third.svg"
					/>
					<source
						media="(min-width: 992px)"
						srcset="./svg/pricing-third-xl.svg"
					/>
					<source
						media="(min-width: 767px)"
						srcset="./svg/pricing-third-lg.svg"
					/>
					<source
						media="(min-width: 575px)"
						srcset="./svg/pricing-third-md.svg"
					/>
					<source
						media="(min-width: 320px)"
						srcset="./svg/pricing-third-sm.svg"
					/>
					<img src="./svg/pricing-third-sm.svg" alt="image" />
				</picture>

				<h3 class="pricing-list__item--titel">Personal Tuition</h3>

				<p class="pricing-list__item--text">Online one-to-one English tutoring – enjoy 
					our first session for only $1</p>

				<button class="pricing-list__item--btn"><span class="pricing-list__item--btn--span">£20.99</span> per month</button>

			</li>
		</ul>
	</div>
</section>