<section class="pricing" id="pricing">
	<div class="container">
		<h3 class="pricing__titel">Pricing</h3>

		<ul class="pricing-list">
			<li class="pricing-list__item pricing-list__item--first">

				<h3 class="pricing-list__titel pricing-list__titel--first">Self-study online course</h3>

				<p class="pricing-list__text pricing-list__text--first">
					Start learning English online in live classes with qualified EC
					teachers and students from all over the world.
				</p>

				<button class="pricing-list__item--btn">
					<span class="pricing-list__item--btn--span">£5.99</span> per month
				</button>
			</li>

			<li class="pricing-list__item pricing-list__item--second">

				<h3 class="pricing-list__titel pricing-list__titel--second">Live online classes</h3>

				<p class="pricing-list__text pricing-list__text--second">
					Interactive group classes with expert teachers. Free 7-day trial
				</p>

				<button class="pricing-list__item--btn">
					<span class="pricing-list__item--btn--span">£12.99</span> per month
				</button>
			</li>

			<li class="pricing-list__item pricing-list__item--third">

				<h3 class="pricing-list__titel pricing-list__titel--third">Personal Tuition</h3>

				<p class="pricing-list__text pricing-list__text--third">
					Online one-to-one English tutoring – enjoy our first session for only
					$1
				</p>

				<button class="pricing-list__item--btn">
					<span class="pricing-list__item--btn--span">£20.99</span> per month
				</button>
			</li>
		</ul>
	</div>
</section>
