<section class="skills" id="skills">
	<div class="container">
		<h2 class="skills__title">Skills</h2>
		<ul class="skills-list">
			<li class="skills-list__item skills-list__item--first">
				<div class="skills-list__item-wrapper">
					<h3 class="skills-list__item-title">Speaking</h3>
					<p class="skills-list__item-text skills-list__item-text--first">
						<span
							>Improve your English skills <br class="br-lg" />
							and confidence. Live classes and interactive lessons online.
							<br class="br-md br-xl" />
							20% extra free for
							<br class="br-sm" />
							a limited <br class="br-md" />
							time only</span
						>
						<br />
						<br />
						<span>
							Learn English online and <br class="br-md br-lg" />
							improve your <br class="br-lg" />
							<br class="br-xl" />
							skills through our <br class="br-md" />
							high-quality <br class="br-xl" />
							courses <br class="br-xxl" />
							and resources – all <br class="br-xl" />
							designed for adult language <br class="br-xl" />
							learners.</span
						>
					</p>
					<button class="skills-list__item-btn">Learn more</button>
				</div>
			</li>
			<li class="skills-list__item skills-list__item--second">
				<div class="skills-list__item-wrapper">
					<h3 class="skills-list__item-title">Writing</h3>
					<p class="skills-list__item-text skills-list__item-text--second">
						One of the most important <br class="br-md" />
						and extensive areas of <br class="br-md br-lg" />
						natural science, the science <br class="br-md" />
						that studies substances, <br class="br-md br-lg" />
						also their composition
					</p>
					<button class="skills-list__item-btn">Learn more</button>
				</div>
			</li>
			<li class="skills-list__item skills-list__item--third">
				<div class="skills-list__item-wrapper">
					<h3 class="skills-list__item-title">Reading</h3>
					<p class="skills-list__item-text skills-list__item-text--third">
						perception and response actions <br class="br-sm" />
						of the user resulting from the use
						<span class="sm-hidden">and/or</span>
						<span class="sm-visible">and or</span> up coming use of the product,
						system or service
					</p>
					<button class="skills-list__item-btn">Learn more</button>
				</div>
			</li>
			<li class="skills-list__item skills-list__item--fourth">
				<div class="skills-list__item-wrapper">
					<h3 class="skills-list__item-title">Listening</h3>
					<p class="skills-list__item-text skills-list__item-text--fourth">
						Here you can find activities to practise your listening skills.
						Listening will help <br class="br-lg" />
						you to improve your understanding
					</p>
					<button class="skills-list__item-btn">Learn more</button>
				</div>
			</li>
		</ul>
	</div>
</section>
