<section class="skills" id="skills">
	<div class="container">
		<h2 class="skills-title">Skills</h2>
		<ul class="skills-list">
			<li class="skills-list__item skills-list__item--first">
				<div class="skills-list__item-wrapper">
					<h3 class="skills-list__item-title">Speaking</h3>
					<p class="skills-list__item-text skills-list__item-text--first">
						<span
							>Improve your English skills and confidence. Live classes and
							interactive lessons online. 20% extra free for a limited time
							only</span
						>
						<br />
						<br />
						<span>
							Learn English online and improve your skills through our
							high-quality courses and resources – all designed for adult
							language learners.</span
						>
					</p>
					<button class="skills-list__item-btn">Learn more</button>
				</div>
			</li>
			<li class="skills-list__item skills-list__item--second">
				<div class="skills-list__item-wrapper">
					<h3 class="skills-list__item-title">Writing</h3>
					<p class="skills-list__item-text skills-list__item-text--second">
						One of the most important and extensive areas of natural science,
						the science that studies substances, also their composition
					</p>
					<button class="skills-list__item-btn">Learn more</button>
				</div>
			</li>
			<li class="skills-list__item skills-list__item--third">
				<div class="skills-list__item-wrapper">
					<h3 class="skills-list__item-title">Reading</h3>
					<p class="skills-list__item-text skills-list__item-text--third">
						perception and response actions of the user resulting from the use
						and or up coming use of the product, system or service
					</p>
					<button class="skills-list__item-btn">Learn more</button>
				</div>
			</li>
			<li class="skills-list__item skills-list__item--fourth">
				<div class="skills-list__item-wrapper">
					<h3 class="skills-list__item-title">Listening</h3>
					<p class="skills-list__item-text skills-list__item-text--fourth">
						Here you can find activities to practise your listening skills.
						Listening will help you to improve your understanding
					</p>
					<button class="skills-list__item-btn">Learn more</button>
				</div>
			</li>
		</ul>
	</div>
</section>
